<div id="app-shell">
  <header class="header">
    <nav class="inner">
      <a href="/">
        Rapid Stack |
      </a>
    </nav>
  </header>
  <div class="catalog-view">
    <div class="catalog-list">
      <div class="view">
        <ul id="itemsLoading">
        </ul>
      </div>
    </div>
  </div>
</div>
