<header class="header">
  <nav class="inner">
    <div class="container-logo">
      <a href="#/catalog/1">
        <img
          alt="Rapid Stack"
          class="logo"
          src="/assets/icon.jpg">
        <span>
        Rapid Stack |
        </span>
      </a>
    </div>
  </nav>
</header>
