<div class="app app__layout">
    <header>
      <span class="header__icon">
        <svg class="menu__icon no--select" width="24px" height="24px" viewBox="0 0 48 48" fill="#fff">
          <path d="M6 36h36v-4H6v4zm0-10h36v-4H6v4zm0-14v4h36v-4H6z"></path>
        </svg>
      </span>

      <span class="header__title no--select">Rapid Stack</span>
    </header>
</div>
